.div1{
   padding: 30px;
}

.div2{
    text-align: center;
    
}

.Column1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Container {
   margin: 50px;
}

.Name1{
    font-size: 20px;
    font-weight: bold;
}